.navbar-inverse { background-color: #eee; border: 0; padding: 1em 0 }
.navbar-inverse .navbar-nav>li>a { color: #999; }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover { background-color: #14c202; }
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover { color: #28a0da; }